body, html {
    height: 100%;
    margin: 0;
    background-image: url("./images/space.png");
    background-size: auto 105%;
    background-attachment: fixed;
}
#space {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
}
#title {
    font-family: 'SF Distant Galaxy', 'SF Distant Galaxy Alternate', cursive;
    letter-spacing: 3.3px;
    text-align: center;
    color: #f8e71c;
    font-size: 95px;
    margin: 0 0 10px 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
#title:hover {
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    #title {
        font-size: 80px;
        top: 3%;
    }
}
@media only screen and (max-width: 575px) {
    #title {
        font-size: 50px;
    }
}
@media only screen and (max-width: 425px) {
    #title {
        text-align: center;
        top: 5%;
    }
}
#map {
    display: block;
    position: relative;
    height: 580px;
    width: 476px;
    margin: auto;
    z-index: 0;
}
@media only screen and (max-width: 425px) {
    #map {
        height: 348px;
        width: 285.6px;
        bottom: 8%;
    }
}
#slider {
    width: 48.94px;
    height: 580px;
    position: absolute;
    right: 41px;
    top: 50%;
    transform: translateY(-45%);
}
.episodescroll {
    color:#F8E71C;
    text-align: center;
    font-family: 'ITC Serif Gothic Std';
    font-size: 35px;
    margin: 0;
    padding: 10px 0 5px 0;
    opacity: .5;
}
@media only screen and (max-width: 425px) {
    .slider {
        display: none;
    }
    .episodescroll {
        display: none;
    }
}
.episodescroll:hover {
    opacity: 1;
    cursor: pointer;
}
.clicked {
    opacity: 1;
}
#mobileslider {
    display: none;
    width: 327px;
    height: 49px;
    border-radius: 24.5px;
    background-color: #000000;
    border: solid 1px #f8e71c;
    position: fixed;
    bottom: 5%;
}
.mobilescroll {
    display: none;
    color: #f8e71c;
    font-family: 'ITC Serif Gothic Std';
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}
.mobilebutton {
    display: none;
    width: 12px;
    height: 21px;
    color: #f8e71c;
}
@media only screen and (max-width: 425px) {
    #mobileslider {
        display: block;
    }
    .mobilebutton {
        display: block;
    }
    .mobilescroll {
        display: block;
    }
}
#leftbutton {
    position: absolute;
    left: 15px;
    top: 13px;
    z-index: 10;
}
#rightbutton {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 10;
}
#solo {
    font-size: 20px;
}
#footer {
    font-family: 'ITC Serif Gothic Std';
    font-size: 55px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    text-align: center;
    color: #f8e71c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}
@media only screen and (max-width: 425px) {
    #footer {
        display: none;
    }
}
#layer9 {
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
}
#layer8 {
    height: 90.11553273427471%;
    position: absolute;
    top: 5.006418485237484%;
    left: 3.465982028241335%;
    z-index: 2;
}
#layer7 {
    height: 76.76508344030809%;
    position: absolute;
    top: 14.890885750962774%;
    left: 10.783055198973042%;
    z-index: 3;
}
#layer6 {
    height: 62.90115532734275%;
    position: absolute;
    top: 20.92426187419769%;
    left: 11.810012836970476%;
    z-index: 4;
}
#layer5 {
    height: 55.198973042362%;
    position: absolute;
    top: 24.261874197689345%;
    left: 13.992297817715018%;
    z-index: 5;
}
#layer4 {
    height: 49.29396662387677%;
    position: absolute;
    top: 27.856225930680363%;
    left: 15.14762516046213%;
    z-index: 6;
}
#layer3 {
    height: 43.51732991014121%;
    position: absolute;
    top: 30.680359435173298%;
    left: 16.816431322207958%;
    z-index: 7;
}
#layer2 {
    height: 27.342747111681643%;
    position: absolute;
    top: 35.5584082156611%;
    left: 21.052631578947366%;
    z-index: 8;
}
#layer1 {
    height: 19.51219512195122%;
    position: absolute;
    top: 39.02439024390244%;
    left: 23.23491655969191%;
    z-index: 9;
}
.planet {
    width: 10px;
}
.planet:hover {
    cursor: pointer;
}
@media only screen and (max-width: 425px) {
    .planet {
        width: 6px;
    }
}
#cantonica {
    position: absolute;
    top: 12.195121951219512%;
    left: 81.48148148148148%;
    z-index: 10;
}
#malachor {
    position: absolute;
    top: 16.30295250320924%;
    left: 85.18518518518519%;
    z-index: 10;
}
#lothal {
    position: absolute;
    top: 24.390243902439025%;
    left: 91.9753086419753%;
    z-index: 10;
}
#lasan {
    position: absolute;
    top: 95.37869062901156%;
    left: 70.83333333333334%;
    z-index: 10;
}
#polismassa {
    position: absolute;
    top: 98.45956354300385%;
    left: 32.25308641975309%;
    z-index: 10;
}
#ahchto {
    position: absolute;
    top: 53.78690629011553%;
    left: 0.7716049382716049%;
    z-index: 10;
}
.label {
    height: 10px;
    padding: 2px 2px 0px 2px;
    font-family: 'Calamity';
    font-size: 8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    background-color: white;
}
.label:hover {
    cursor: pointer;
}
@media only screen and (max-width: 425px) {
    .label {
        height: 6px;
        padding: 1.2px 1.2px 0px 1.2px;
        font-size: 4.8px;
    }
}
#cantonicalabel {
    position: absolute;
    top: 12.066752246469834%;
    left: 84.41358024691358%;
    z-index: 10;
}
#malachorlabel {
    position: absolute;
    top: 16.174582798459564%;
    right: 15.74074074074074%;
    z-index: 10;
}
#lothallabel {
    position: absolute;
    top: 24.261874197689345%;
    right: 8.796296296296296%;
    z-index: 10;
}
#lasanlabel {
    position: absolute;
    top: 95.25032092426187%;
    left: 74.22839506172839%;
    z-index: 10;
}
#polismassalabel {
    position: absolute;
    top: 98.33119383825417%;
    right: 68.20987654320987%;
    z-index: 10;
}
#ahchtolabel {
    position: absolute;
    top: 53.53016688061617%;
    left: 3.3950617283950617%;
    z-index: 10;
}
#lahmu {
    position: absolute;
    top: 11.0397946084724%;
    left: 40.4320987654321%;
    z-index: 10;
}
#seelos {
    position: absolute;
    top: 14.120667522464696%;
    left: 59.876543209876544%;
    z-index: 10;
}
#atollon {
    position: absolute;
    top: 27.342747111681643%;
    left: 88.58024691358025%;
    z-index: 10;
}
#eadu {
    position: absolute;
    top: 32.60590500641848%;
    left: 84.72222222222221%;
    z-index: 10;
}
#kamino {
    position: absolute;
    top: 77.92041078305519%;
    left: 79.4753086419753%;
    z-index: 10;
}
#ryloth {
    position: absolute;
    top: 81.51476251604622%;
    left: 78.85802469135803%;
    z-index: 10;
}
#utapau {
    position: absolute;
    top: 91.65596919127086%;
    left: 51.23456790123457%;
    z-index: 10;
}
#mustafar {
    position: absolute;
    top: 90.11553273427471%;
    left: 33.33333333333333%;
    z-index: 10;
}
#starkillerbase {
    position: absolute;
    top: 29.653401797175867%;
    left: 10.95679012345679%;
    z-index: 10;
}
#lahmulabel {
    position: absolute;
    top: 10.783055198973042%;
    left: 43.67283950617284%;
    z-index: 10;
}
#seeloslabel {
    position: absolute;
    top: 13.928112965340182%;
    left: 52.63157894736842%;
    z-index: 10;
}
#atollonlabel {
    position: absolute;
    top: 27.214377406931966%;
    left: 91.51234567901234%;
    z-index: 10;
}
#eadulabel {
    position: absolute;
    top: 32.47753530166881%;
    left: 87.96296296296296%;
    z-index: 10;
}
#kaminolabel {
    position: absolute;
    top: 77.66367137355584%;
    left: 82.56172839506173%;
    z-index: 10;
}
#rylothlabel {
    position: absolute;
    top: 81.38639281129653%;
    left: 81.79012345679013%;
    z-index: 10;
}
#utapaulabel {
    position: absolute;
    top: 91.52759948652118%;
    left: 54.01234567901234%;
    z-index: 10;
}
#mustafarlabel {
    position: absolute;
    top: 89.98716302952504%;
    left: 23.919753086419753%;
    z-index: 10;
}
#starkillerlabel {
    position: absolute;
    top: 29.541335044929393%;
    right: 90.31481481481481%;
    z-index: 10;
    width: 90px;
}
@media only screen and (max-width: 425px) {
    #starkillerlabel {
        width: 56px;
    }
}
#datooine {
    position: absolute;
    top: 16.944801026957638%;
    left: 37.34567901234568%;
    z-index: 10;
}
#datooinelabel {
    position: absolute;
    top: 16.68806161745828%;
    left: 40.4320987654321%;
    z-index: 10;
}
#yavin {
    position: absolute;
    top: 22.464698331193837%;
    left: 64.6604938271605%;
    z-index: 10;
}
#yavinlabel {
    position: absolute;
    top: 22.33632862644416%;
    left: 67.5925925925926%;
    z-index: 10;
}
#stygeonprime {
    position: absolute;
    top: 26.572528883183566%;
    left: 76.85185185185185%;
    z-index: 10;
}
#stygeonprimelabel {
    position: absolute;
    top: 26.31578947368421%;
    left: 62.808641975308646%;
    z-index: 10;
}
#kessel {
    position: absolute;
    top: 29.653401797175867%;
    left: 79.4753086419753%;
    z-index: 10;
}
#kessellabel {
    position: absolute;
    top: 29.52503209242619%;
    left: 82.09876543209876%;
    z-index: 10;
}
#dagobah {
    position: absolute;
    top: 85.75096277278563%;
    left: 47.22222222222222%;
    z-index: 10;
}
#dagobahlabel {
    position: absolute;
    top: 85.62259306803594%;
    left: 38.117283950617285%;
    z-index: 10;
}
#agamar {
    position: absolute;
    top: 24.133504492939668%;
    left: 38.58024691358025%;
    z-index: 10;
}
#agamarlabel {
    position: absolute;
    top: 24.005134788189988%;
    left: 30.09259259259259%;
    z-index: 10;
}
#scariff {
    position: absolute;
    top: 62.51604621309371%;
    left: 77.17283950617285%;
    z-index: 10;
}
#scarifflabel {
    position: absolute;
    top: 62.38767650834403%;
    left: 80.17901234567901%;
    z-index: 10;
}
#tatooine {
    position: absolute;
    top: 71.2451861360719%;
    left: 73.31481481481481%;
    z-index: 10;
}
#tatooinelabel {
    position: absolute;
    top: 71.1168164313222%;
    left: 76.16666666666666%;
    z-index: 10;
}
#geonosis {
    position: absolute;
    top: 74.58279845956355%;
    right: 24.845679012345677%;
    z-index: 10;
}
#geonosislabel {
    position: absolute;
    top: 74.58279845956355%;
    right: 27.623456790123456%;
    z-index: 10;
}
#dqar {
    position: absolute;
    top: 77.92041078305519%;
    right: 40.89506172839506%;
    z-index: 10;
}
#dqarlabel {
    position: absolute;
    top: 77.92041078305519%;
    right: 34.38765432098765%;
    z-index: 10;
}
#crait {
    position: absolute;
    top: 77.40693196405648%;
    right: 48.148148148148145%;
    z-index: 10;
}
#craitlabel {
    position: absolute;
    top: 77.27856225930681%;
    right: 50.92592592592593%;
    z-index: 10;
}
#hoth {
    position: absolute;
    top: 81.38639281129653%;
    right: 64.81481481481481%;
    z-index: 10;
}
#hothlabel {
    position: absolute;
    top: 81.25802310654684%;
    right: 58.64197530864198%;
    z-index: 10;
}
#bespin {
    position: absolute;
    top: 81.38639281129653%;
    right: 68.67283950617285%;
    z-index: 10;
}
#bespinlabel {
    position: absolute;
    top: 81.25802310654684%;
    right: 71.75925925925925%;
    z-index: 10;
}
#endor {
    position: absolute;
    top: 73.17073170731707%;
    right: 81.78395061728395%;
    z-index: 10;
}
#endorlabel {
    position: absolute;
    top: 73.0423620025674%;
    right: 84.6358024691358%;
    z-index: 10;
}
#dathomir {
    position: absolute;
    top: 26.059050064184852%;
    right: 49.148148148148145%;
    z-index: 10;
}
#dathomirlabel {
    position: absolute;
    top: 25.930680359435172%;
    right: 39.96913580246913%;
    z-index: 10;
}
#krownest {
    position: absolute;
    top: 29.781771501925547%;
    right: 35.95679012345679%;
    z-index: 10;
}
#krownestlabel {
    position: absolute;
    top: 29.653401797175867%;
    right: 38.96296296296296%;
    z-index: 10;
}
#concorddawn {
    position: absolute;
    top: 32.165468549422338%;
    right: 34.10493827160494%;
    z-index: 10;
}
#concorddawnlabel {
    position: absolute;
    top: 32.065468549422338%;
    right: 19.51111111111111%;
    z-index: 10;
}
#mandalore {
    position: absolute;
    top: 32.73427471116817%;
    right: 37.03086419753087%;
    z-index: 10;
}
#mandalorelabel {
    position: absolute;
    top: 32.47753530166881%;
    right: 39.882716049382715%;
    z-index: 10;
}
#wobani {
    position: absolute;
    top: 36.84210526315789%;
    right: 28.154320987654323%;
    z-index: 10;
}
#wobanilabel {
    position: absolute;
    top: 36.71373555840822%;
    right: 19.746913580246915%;
    z-index: 10;
}
#naboo {
    position: absolute;
    top: 73.19768934531452%;
    right: 40.89506172839506%;
    z-index: 10;
}
#naboolabel {
    position: absolute;
    top: 73.06931964056483%;
    right: 43.592592592592595%;
    z-index: 10;
}
#jedha {
    position: absolute;
    top: 37.09884467265726%;
    right: 81.24074074074075%;
    z-index: 10;
}
#jedhalabel {
    position: absolute;
    top: 36.97047496790758%;
    right: 74.33333333333334%;
    z-index: 10;
}
#shill {
    position: absolute;
    top: 31.964056482670088%;
    right: 59.01234567901234%;
    z-index: 10;
}
#shilllabel {
    position: absolute;
    top: 31.835686777920415%;
    right: 61.70987654320988%;
    z-index: 10;
}
#kashyyk {
    position: absolute;
    top: 43.949935815147626%;
    right: 35.33333333333333%;
    z-index: 10;
}
#kashyyklabel {
    position: absolute;
    top: 43.821566110397946%;
    right: 26.780246913580247%;
    z-index: 10;
}
.alderan {
    position: absolute;
    top: 50.06418485237484%;
    right: 36.0246913580247%;
    z-index: 10;
}
#alderanintact {
    display: none;
}
#alderandestroyed {
    border: dotted black 1px;
    border-radius: 50%;
}
#alderanlabel {
    position: absolute;
    top: 50.06418485237484%;
    right: 39.376543209876544%;
    z-index: 10;
}
#takodana {
    position: absolute;
    top: 65.59691912708601%;
    right: 70.37037037037037%;
    z-index: 10;
}
#takodanalabel {
    position: absolute;
    top: 65.59691912708601%;
    right: 59.96296296296296%;
    z-index: 10;
}
#jakku {
    position: absolute;
    top: 55.71245186136073%;
    right: 77.92592592592592%;
    z-index: 10;
}
#jakkulabel {
    position: absolute;
    top: 55.58408215661104%;
    right: 80.77777777777779%;
    z-index: 10;
}
#onderon {
    position: absolute;
    top: 41.46341463414634%;
    right: 43.05555555555556%;
    z-index: 10;
}
#onderonlabel {
    position: absolute;
    top: 41.206675224646986%;
    right: 45.86172839506173%;
    z-index: 10;
}
#coruscant {
    position: absolute;
    top: 40.821566110397946%;
    right: 65.17407407407407%;
    z-index: 10;
}
#coruscantlabel {
    position: absolute;
    top: 40.693196405648266%;
    right: 68.580246913580254%;
    z-index: 10;
}
#hosnianprime {
    position: absolute;
    top: 54.04364569961489%;
    right: 57.35185185185185%;
    z-index: 10;
    border: dotted black 1px;
    border-radius: 50%;
}
#hosnianprimelabel {
    position: absolute;
    top: 54.01527599486521%;
    right: 60.70370370370371%;
    z-index: 10;
}
#savareen {
    position: absolute;
    top: 34.071887034659824%;
    right: 2.4691358024691357%;
    z-index: 10;
}
#savareenlabel {
    position: absolute;
    top: 34.071887034659824%;
    left: 98.5%;
    z-index: 10;
}
#mimban {
    position: absolute;
    top: 46.98472400513479%;
    right: 36.13333333333333%;
    z-index: 10;
}
#mimbanlabel {
    position: absolute;
    top: 46.95635430038511%;
    right: 27.854320987654323%;
    z-index: 10;
}
#vandor {
    position: absolute;
    top: 64.31322207958921%;
    right: 44.75308641975309%;
    z-index: 10;
}
#vandorlabel {
    position: absolute;
    top: 64.05648267008985%;
    right: 37.34567901234568%;
    z-index: 10;
}
#corella {
    position: absolute;
    top: 48.52374839537869%;
    right: 56.697530864197525%;
    z-index: 10;
}
#corellalabel {
    position: absolute;
    top: 48.19537869062901%;
    right: 49.01851851851852%;
    z-index: 10;
}